/* base.css */
body {
    margin: 0;
    background-color: #121212;
    color: #FFFFFF;
    font-family: 'Cairo', sans-serif; /* يمكنك استخدام أي خط تفضله */
    transition: margin-right 0.4s ease; /* لتأثير الدفع عند فتح القائمة */
}

.main-content {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    transition: filter 0.4s ease; /* لتأثير التعتيم */
}

header h1 {
    color: #FFD60A;
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.1rem;
    color: #e0e0e0;
    max-width: 700px;
    margin: 0 auto 25px auto;
}

.about h2 {
    color: #FFD60A;
    font-size: 2.2rem;
    margin-bottom: 15px;
}

.about p {
    font-size: 1.1rem;
    line-height: 1.7;
}

.about i {
    color: #FFD60A;
}
