/* sidebar.css */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px; /* تبدأ مخفية */
    background-color: #181818;
    padding-top: 60px;
    transition: right 0.4s ease;
    z-index: 1000;
    border-left: 2px solid #FFD60A;
    box-shadow: -5px 0px 15px rgba(0,0,0,0.5);
}

.sidebar.open {
    right: 0; /* إظهار القائمة */
}

.sidebar a {
    padding: 12px 25px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #FFD60A;
    color: #121212;
}

.sidebar a i {
    margin-left: 15px;
    width: 20px;
}

.sidebar .close-btn {
    position: absolute;
    top: 15px;
    left: 25px;
    font-size: 36px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
